h5 {
  padding: 1rem;
}
.assets {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  text-transform: uppercase;
}

.date-entry {
  color: black;
}

tr:nth-child(even){
  background-color: #d8eee4;
}

tr:nth-child(odd){
  background-color: : #dff1e9;
}
