<form class="" action="." method="post">
  <div class="">
    <input type="date" name="start_date" value="">
    <input type="date" name="end_date" value="">
    <input type="submit" value="Go">
  </div>
  <div class="">
    <table>
      <thead>
        <td>Ticker</td>
        <td>Display</td>
      </thead>
      <tbody>
        <td>BTC</td>
        <td>
          <input type="checkbox" name="" value="">
        </td>
      </tbody>
    </table>
  </div>
</form>
