<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crypto Pricing</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <h5>Crypto Pricing History (USD)</h5>
          <form class="form-group" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Go</button>
          </form>
        </div>
        <div class="col-auto">
          {% if context.asset_prices %}
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <th scope="col">Date</th>
              {% for asset in context.assets %}
                <th scope="col" class="assets">{{ asset }}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for item in context.asset_prices %}
              <tr scope="row">
                  <td>{{ item.0 }}</td>
                  {% for key,value in item.1.items %}
                  <td>${{ value }}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No RECORDS FOUND</p>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
